
    {% include 'includes/externos.html' %}
    
    {% include 'includes/navbar.html' %}

    {% include 'includes/mensajes.html' %}

    <title>Condiciones del servicio</title>
    <body>
        <div class="container">
            <h4>
                Condiciones del servicio
            </h4>
            <ul>
                <li>ALIVAL desarrolla tecnologías y servicios que permiten que las personas se conecten, creen comunidades y hagan crecer sus negocios. Estas Condiciones rigen el uso que haces de nuestra plataforma y los demás productos, servicios, tecnologías y software que ofrecemos, excepto cuando indiquemos expresamente que se aplican otras condiciones (y no estas). ALIVAL, te proporciona estos Productos.</li>
                <br><li>No cobramos por el uso que haces de nuestra plataforma ni de los otros productos y servicios que abarcan estas Condiciones. Por el contrario, los negocios y las organizaciones nos pagan para que te mostremos anuncios de sus productos y servicios. Al usar nuestros Productos, reconoces que podemos mostrarte anuncios que consideremos que te resultarán relevantes para ti y tus intereses. Usamos tus datos personales como ayuda para determinar qué anuncios mostrarte.</li>
                <br><li>No vendemos tus datos personales a los anunciantes ni compartimos información que te identifique directamente (como tu nombre, dirección de correo electrónico u otra información de contacto) con los anunciantes, a menos que nos des tu permiso expreso. Por el contrario, los anunciantes pueden proporcionarnos datos como el tipo de público que quieren que vea sus anuncios, y nosotros mostramos esos anuncios a las personas que pueden estar interesadas en ellos. Proporcionamos a los anunciantes informes sobre el rendimiento de sus anuncios para ayudarlos a entender cómo las personas interactúan con su contenido.</li>
            </ul>
        </div>
    </body>
</html>
