{% include 'includes/externos.html' %}
<title>Contacto</title>

{% include 'includes/navbar.html' %}

{% include 'includes/mensajes.html' %}

<div class="container">
    <table width="100%" rules='rows' frame='hsides'>
        <tbody>
            <tr>
                <td style="text-align: center">
                    <p style="font-size: 3vh; font-weight: bold;">DATOS DE CONTACTO</p>
                </td>
            </tr>
            <tr>
                <td class="center" style="text-align: center">
                    <p style="font-size: 3vh;">
                        Alexander Mendez Sanchez
                        <br><br>Programador y jefe de proyecto
                        <br><br><a href="tel:+525610256212" style="text-decoration: none; color: crimson;"
                            target="blank_">5610256212</a>
                    </p>
                </td>
                <td style="text-align: center">
                    <p style="font-size: 3vh;">
                        Ivan Alejandro Rojas Aguilar
                        <br><br>Programador y diseñador
                        <br><br><a href="tel:+525610256212" style="text-decoration: none; color: crimson;"
                            target="blank_">5610256212</a>
                    </p>
                </td>
                <td style="text-align: center">
                    <p style="font-size: 3vh;">
                        Alan Rodrigo Jimenez Tenorio
                        <br><br>Diseñador del sitio y base de datos
                        <br><br><a href="tel:+525610256212" style="text-decoration: none; color: crimson;"
                            target="blank_">5610256212</a>
                    </p>
                </td>
            </tr>
            <tr>
                <td style="text-align: center">
                    <p>
                        <a href="tel:+5215534212695" target="blank_"><img
                                src="https://i.ibb.co/F662Mnq/telefono-azul.png" width="50vh" title="Teléfono"
                                alt="Teléfono"></a>
                        &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                        <a href="mailto:ventas@ariehboga.com.mx" target="blank_"><img
                                src="https://i.ibb.co/MZZS0fq/281769.png" width="50vh" title="Gmail" alt="Gmail"></a>
                        &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                        <a href="https://api.whatsapp.com/send?phone=+5215534212695" target="blank_"><img
                                src="https://i.ibb.co/PgTTtnW/whatsapp-logo-11.png" width="50vh" title="WhatsApp"
                                alt="WhatsApp"></a>
                    </p>
                </td>
            </tr>
        </tbody>
    </table>
</div>
</body>