
    {% include 'includes/externos.html' %}
    
    {% include 'includes/navbar.html' %}

    {% include 'includes/mensajes.html' %}

    <title>Cookies</title>
    <body>
        <div class="container">
            <h4>Cookies y otras tecnologías de almacenamiento</h4>
            <p>
                Las cookies son pequeños fragmentos de texto que se utilizan para almacenar información en navegadores web. Se usan para almacenar y recibir identificadores y otros datos en computadoras, teléfonos y otros dispositivos. Otras tecnologías, incluidos datos que almacenamos en tu navegador web o dispositivo, identificadores asociados con tu dispositivo y otro software, se utilizan con fines similares. En esta política, nos referimos a todas estas tecnologías con el nombre de "cookies".
                Utilizamos cookies si tienes una cuenta de ALIVAL, utilizas los Productos de ALIVAL, incluido nuestra plataforma, o visitas otros sitios web y apps que usan los Productos de ALIVAL. Las cookies permiten a ALIVAL ofrecerte los Productos de ALIVAL y comprender la información que recibimos sobre ti, incluidos datos sobre cómo usas otros sitios web y apps, independientemente de si te registraste o iniciaste sesión.
            </p>
        </div>
    </body>
</html>
