{% include 'includes/externos.html' %}

{% include 'includes/navbar.html' %}

{% include 'includes/mensajes.html' %}

<title>Mapa del sitio</title>

<div class="container">
    <h1 class="center">Mapa del sitio</h1>
    <div class="row">
        <div class="col m6">
            <div class="card-body">
                <div class="list-group">
                    <h4>Principales</h4>
                    <a href="/inicio" class="flow-text">Inicio</a>
                    <br>
                    <a href="/mapa" class="flow-text">Mapa del sitio</a>

                    
                </div>
            </div>
        </div>
        <div class="col m6">
            <div class="card-body">
                <div class="list-group">
                    <h4>Administracion del sitio</h4>
                    <a href="/medicos" class="flow-text">Medicos</a>
                    <br>
                    <a href="/inventarios" class="flow-text">Inventario</a>
                    <br>
                    <a href="/conferencias" class="flow-text">Conferencias</a>
                    <br>
                    <a href="/consultas" class="flow-text">Consultas</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col m6">
            <div class="card-body">
                <div class="list-group">
                    <h4>Sesiones</h4>
                    <a href="/registro" class="flow-text">Registro</a>
                    <br>
                    <a href="/login" class="flow-text">Iniciar sesion</a>
                    <br>
                    <a href="/logout" class="flow-text">Cerrar sesion</a>
                </div>
            </div>
        </div>
        <div class="col m6">
            <div class="card-body">
                <div class="list-group">
                    <h4>Politicas</h4>
                    <a href="/condiciones" class="flow-text">Condiciones</a>
                    <br>
                    <a href="/cookies" class="flow-text">Cookies</a>
                    <br>
                    <a href="/privacidad" class="flow-text">Privacidad</a>
                </div>
            </div>
        </div>