{% include 'includes/externos.html' %}
<title>Nosotros</title>

{% include 'includes/navbar.html' %}

{% include 'includes/mensajes.html' %}
        <div class="container">
            <table width="100%" rules='rows' frame='hsides'>
                <tbody>
                    <tr>
                        <td style="text-align: center; font-size: 4vh; font-weight: bold;">
                            <p>NOSOTROS</p>
                        </td>
                    </tr>
                    <tr>
                        <td style="text-align: left;">
                            <p style="font-size: 3vh; font-weight: bold;">Desarrollo</p>
                            <p style="font-size: 3vh;">El proyecto de esta empresa inicio en el año de 2022, año en que su fundador el C. Alexander Mendez, con espíritu emprendedor dio inicio con un pequeño consultorio, suministrando medicamentos a gente que lo necesita. La constancia lo llevo a acrecentar su consultorio y personal para dar respuesta al aumento de clientes de alto nivel; las nuevas demandas de medicamentos de alta calidad y requerimientos administrativos impulso al establecimiento definitivo de lo que hoy es ALIVAL por lo que el respaldo es de más de diez años de experiencia y continua satisfacción de los estándares y expectativas de calidad de nuestros clientes.</p>
                        </td>
                    </tr>
            </table>
        </div>
    </body>
</html>
