
    {% include 'includes/externos.html' %}
    
    {% include 'includes/navbar.html' %}

    {% include 'includes/mensajes.html' %}

    <title>Politica de datos</title>
    <body>
        <div class="container">
            <h4>Política de datos</h4>
            <p>En esta política, se describe la información que tratamos para proporcionar los servicios, así como otros productos y funciones que ofrece ALIVAL (Productos de ALIVAL o Productos).</p>
            <ul>
                <li>
                    <h5>¿Qué tipo de información recopilamos?</h5>
                    <p>A fin de proporcionarte los Productos de ALIVAL, debemos tratar información sobre ti. El tipo de información que recopilamos depende de la forma en la que usas nuestros Productos. </p>
                </li>
                <li>
                    <h5>¿Cómo usamos esta información?</h5>
                    <p>Usamos la información que tenemos (en función de las elecciones que hagas) para proporcionar y respaldar los Productos de ALIVAL.</p>
                </li>
                <li>
                    <h5>¿Cómo puedo administrar o eliminar la información sobre mí?</h5>
                    <p>Te damos la posibilidad de acceder a tus datos, rectificarlos, transferirlos y suprimirlos. 
                        Almacenamos los datos hasta que ya no son necesarios para brindarte nuestros servicios y Productos de ALIVAL, o hasta que se elimina tu cuenta, lo que ocurra primero. Esto se determina según cada caso particular y depende de diversos factores, como la naturaleza de los datos, el motivo de la recopilación o el tratamiento, y las necesidades de conservación operativas o legales relevantes. Por ejemplo, si haces una búsqueda en ALIVAL, puedes acceder a esa consulta y eliminarla de tu historial de búsqueda en cualquier momento, pero el registro de dicha búsqueda se elimina después de seis meses. Si envías una copia de tu documento de identidad oficial para que se verifique la cuenta, eliminaremos dicha copia 30 días después de la revisión, a menos que se indique lo contrario. 
                        Cuando eliminas tu cuenta, eliminamos el contenido que publicaste, como tus fotos y actualizaciones de estado, y ya no podrás recuperar esa información después. No se eliminará la información sobre ti que otros compartieron porque no forma parte de tu cuenta. Si no quieres eliminar la cuenta, pero quieres dejar de usar los Productos por un tiempo, puedes desactivar tu cuenta. Para eliminar tu cuenta, ve a la configuración de Facebook ALIVAL.
                    </p>
                </li>
            </ul>
        </div>
    </body>
</html>
