{% include 'includes/externos.html' %}
{% include 'includes/navbar.html' %}
{% include 'includes/mensajes.html' %}
{% load crispy_forms_tags %}

<title>Inventario</title>
<nav>
    <div class="nav-wrapper">
        <div class="col s12">
            <div class="container">
                <a href="/inicio" class="breadcrumb">Inicio</a>
                <a href="/inventarios" class="breadcrumb">Inventario</a>
            </div>
        </div>
    </div>
</nav>
<div class="container">
    <div class="row">
        <div class="col s4">
            <h3>Registro de Inventario</h3>
            <div class="">
                <div class="card-body">
                    <form method="POST">{% csrf_token %}
                        <div class="from-group">
                            {{ formInventario }}    
                            <button type="submit" class="btn btn-success btn-block text-white">Guardar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col s8">
            <div class="table-responsive">
                <h3>Listado de materiales</h3>
                <table class="table table-striped py-2">
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Tipo</th>
                            <th>Cantidad</th>
                            <th colspan="2">Opcion</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for c in inventarioValues %}
                        <tr>
                            <td>{{c.nombreMat}}</td>
                            <td>{{c.tipo}}</td>
                            <td>{{c.cantidad}}</td>

                            <td><a href="/upinventario/{{c.id_inventario}}" class="btn orange darken-4">Editar</a></td>
                            <td><a href="/delInventario/{{c.id_inventario}}"
                                    class="btn light-blue darken-4">Eliminar</a></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>